* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}


section div, #resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}

section div p {
    margin-bottom: 24px;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

form input,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}


form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

form button:hover {
    background-color: #314e9e;
}

form button:active {
    transform: scale(0.95);
}

input:focus {
    outline-color: #182c61;
}

#resultado {
    width: 320px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    display: none;
}

.positivo {
    background-color: chartreuse;
}

.negativo {
    background-color: crimson;
    color: #fff;
}
